<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Evento</title>
    
    <link rel="icon" href="../favicon.png" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4" style="padding-top: 45px">
                <h2>Cadastrar evento</h2>
                <form action="/evento" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="descricao" id="descricao" placeholder="Descrição" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="data" id="data" placeholder="Data" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="time" class="form-control" name="horario" id="horario" placeholder="Horário" autocomplete="off" />
                    </div>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>