<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
</head>

<body>
    <h2>Registrar</h2>
    <form action="/show" method="post">
        <input type="text" name="nome" id="nome" placeholder="Nome" />
        <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" />
        <input type="email" name="email" id="email" placeholder="E-mail" />
        <input type="password" name="password" id="password" placeholder="Senha"  />
        <button type="submit">Submit</button>
    </form>
</body>

</html>